.utbetalingsgrad {
  max-width: 10ch;
}

.ytelsestabell th {
  font-size: var(--a-font-size-small);
  color: var(--a-text-subtle);
  font-weight: var(--a-font-weight-regular);
  padding: var(--a-spacing-1) var(--a-spacing-2);
}

.ny {
  background-color: var(--a-lightblue-50);
}

.ny > td:first-of-type {
  box-shadow: inset 5px 0 var(--a-border-info);
}

.nyTag {
  color: var(--a-text-action-selected);
}

.slettet {
  background-color: var(--a-grayalpha-50);
  text-decoration: line-through;
  color: var(--a-text-subtle);
}
