.capitalize {
  text-transform: lowercase;
}

.capitalize::first-letter {
  text-transform: none;
}

.utbetalingsgrad {
  max-width: 10ch;
}

.ytelsestabell th {
  composes: tabellHeader from 'lib/styles/table.module.css';
}
