.capitalize {
  text-transform: lowercase;
}

.capitalize::first-letter {
  text-transform: none;
}

.utbetalingsgrad {
  max-width: 10ch;
}

.ytelsestabell th {
  font-size: var(--a-font-size-small);
  color: var(--a-text-subtle);
  font-weight: var(--a-font-weight-regular);
  padding: var(--a-spacing-1) var(--a-spacing-2);
}
