.utbetalingsgrad {
  max-width: 10ch;
}

.ny {
  background-color: var(--a-lightblue-50);
}

.ny > td:first-of-type {
  box-shadow: inset 5px 0 var(--a-border-info);
}

.nyTag {
  color: var(--a-text-action-selected);
}

.slettet {
  background-color: var(--a-grayalpha-50);
  text-decoration: line-through;
  color: var(--a-text-subtle);
}
