.oppholdGruppe {
    margin-bottom: var(--a-spacing-3);
}

.vurderingRad:not(:last-child) {
    margin-bottom: var(--a-spacing-4);
}

.detailgray {
    color: var(--a-text-subtle);
}

.oppholdHeader {
    border-bottom: 1px solid var(--a-border-subtle);
    border-radius: var(--a-border-radius-xlarge) var(--a-border-radius-xlarge) 0 0;
}