.dokumentvisning {
  background-color: var(--ax-bg-default);
  border-radius: var(--ax-radius-8);
  border: 1px solid var(--ax-border-neutral-subtle);
}

.ekspanderknapp {
  margin-left: var(--ax-space-8);
}

.pdf {
  padding: var(--ax-space-8);
  height: 100%;
}
