.opprettRevurderingKort {
  --ac-expansioncard-border-radius: var(--ax-radius-8);
  --ac-expansioncard-border-hover-color: none;

  border: 1px solid var(--ax-border-neutral-subtle);
}

.header,
.content,
.header:hover,
.content:hover {
  border: none;
  box-shadow: none;
}
