.radiogroup {
  display: flex;
  flex-direction: column;
}

.horizontal :global(.navds-radio-buttons) {
  display: flex;
  flex-direction: row;
}

.horizontal :global(.navds-radio):not(:first-of-type) {
  margin-left: 1rem;
}
