.hasterTag {
    background-color: var(--a-surface-danger-subtle);
    border-top-left-radius: var(--a-border-radius-large);
    border-top-right-radius: var(--a-border-radius-large);
    justify-content: left;
    height: var(--a-spacing-10);
}

.spesialkompetanseTag {
    background-color: var(--a-surface-alt-1-subtle);
    border-top-left-radius: var(--a-border-radius-large);
    border-top-right-radius: var(--a-border-radius-large);
    justify-content: left;
    height: var(--a-spacing-10);
}

.boks > * {
    padding-left: var(--a-spacing-3);
    padding-right: var(--a-spacing-3);
    padding-bottom: 0.5rem;
    min-width: 400px;
    max-width: 600px;
}

.tag {
    border-radius: var(--a-border-radius-medium);
}

.tag:hover {
    cursor: pointer;
}

