.hasterTag {
  justify-content: left;
  height: var(--ax-space-40);
}

.boks > * {
  padding-left: var(--ax-space-12);
  padding-right: var(--ax-space-12);
  padding-bottom: 0.5rem;
  min-width: 400px;
  max-width: 600px;
}

.danger {
  background-color: var(--ax-bg-danger-moderate);
  color: black;
}

.danger.danger:hover {
  background-color: var(--ax-bg-danger-moderate-hover);
}

.metaPurple {
  background-color: var(--ax-bg-meta-purple-moderate);
  color: black;
}

.metaPurple.metaPurple:hover {
  background-color: var(--ax-bg-meta-purple-moderate-hover);
}
