.hasterTag {
  background-color: var(--ax-bg-danger-moderate);
  justify-content: left;
  height: var(--ax-space-40);
}

.boks > * {
  padding-left: var(--ax-space-12);
  padding-right: var(--ax-space-12);
  padding-bottom: 0.5rem;
  min-width: 400px;
  max-width: 600px;
}

.tag:hover {
  cursor: pointer;
}
