.hasterTag {
    background-color: var(--ax-bg-danger-soft);
    border-top-left-radius: var(--ax-radius-8);
    border-top-right-radius: var(--ax-radius-8);
    justify-content: left;
    height: var(--ax-space-40);
}

.spesialkompetanseTag {
    background-color: var(--ax-bg-meta-purple-soft);
    border-top-left-radius: var(--ax-radius-8);
    border-top-right-radius: var(--ax-radius-8);
    justify-content: left;
    height: var(--ax-space-40);
}

.boks > * {
    padding-left: var(--ax-space-12);
    padding-right: var(--ax-space-12);
    padding-bottom: 0.5rem;
    min-width: 400px;
    max-width: 600px;
}

.tag {
    border-radius: var(--ax-radius-4);
}

.tag:hover {
    cursor: pointer;
}

