.knapp {
  background: none;
  border: none;
  padding: 0;
  display: inline-flex;
}

.knapp:hover .triggerTag {
  background-color: var(--ax-bg-warning-moderate-hover);
}

.tag {
  justify-content: left;
  height: var(--ax-space-40);
  padding-top: 0.5rem;
}

.boks > * {
  padding-left: var(--ax-space-12);
  padding-right: var(--ax-space-12);
  padding-bottom: 0.5rem;
  min-width: 400px;
  max-width: 600px;
}
