.card {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  border: 1px solid var(--a-border-divider);
  padding: var(--a-spacing-4);
  border-radius: var(--a-border-radius-large);
  background-color: var(--a-surface-default);
}

.brevList {
  list-style: none;
  padding: 0;
  margin: 0;
}
