.saksopplysningerKort {
  --ac-expansioncard-border-radius: var(--a-border-radius-large);
  --ac-expansioncard-border-hover-color: none;

  border: 1px solid var(--a-border-divider);
  border-left: 0.5rem solid var(--a-surface-alt-3);
}

.header,
.content,
.header:hover,
.content:hover {
  border: none;
  box-shadow: none;
}
