.saksopplysningerKort {
  border: 1px solid var(--ax-border-neutral-subtle);
  border-left: 0.5rem solid var(--ax-bg-brand-blue-strong);
}

.header,
.content,
.header:hover,
.content:hover {
  border: none;
  box-shadow: none;
}
