.kolonne {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}

.liste_tittel {
  font-weight: var(--a-font-weight-bold);
}

.refusjonskrav + .refusjonskrav {
  margin-top: 1rem;
}
