template for hvilke miljøvariabler som skal brukes. Kopier feltene under i en ".env.local" fil.
-------------------


NEXT_PUBLIC_ENVIRONMENT="localhost"
BEHANDLING_API_BASE_URL="http://localhost:8080/"
BEHANDLING_API_SCOPE="dev-gcp:aap:behandlingsflyt"

SAKSBEHANDLING_PDFGEN_URL="http://localhost:8020/"

DOKUMENTMOTTAK_API_BASE_URL="http://localhost:8080"
DOKUMENTMOTTAK_API_SCOPE="dev-gcp:aap:postmottak-backend"

STATISTIKK_API_BASE_URL="http://localhost:8080"
STATISTIKK_API_SCOPE="dev-gcp:aap:statistikk"

GOSYS_URL="https://gosys-q2.dev.intern.nav.no/gosys"
MODIA_PERSONOVERSIKT_URL="https://navikt.github.io/modiapersonoversikt/#"

TILGANG_API_BASE_URL="http://localhost:8080"
TILGANG_API_SCOPE="api://dev-gcp.aap.tilgang/"
