template for hvilke miljøvariabler som skal brukes. Kopier feltene under i en ".env.local" fil.


NEXT_PUBLIC_ENVIRONMENT="localhost"
BEHANDLING_API_BASE_URL="http://localhost:8080/"
BEHANDLING_API_SCOPE="dev-gcp:aap:behandlingsflyt"

SAKSBEHANDLING_PDFGEN_URL="http://localhost:8020/"

NEXT_PUBLIC_OPPGAVESTYRING_URL="http://localhost:[PORT]"
