template for hvilke miljøvariabler som skal brukes. Kopier feltene under i en ".env.local" fil.
-------------------


NEXT_PUBLIC_ENVIRONMENT="dev"

BEHANDLING_API_BASE_URL="https://aap-behandlingsflyt.intern.dev.nav.no"
BEHANDLING_API_SCOPE="api://dev-gcp.aap.behandlingsflyt/.default"
SAKSBEHANDLING_PDFGEN_URL="https://aap-saksbehandling-pdfgen.intern.dev.nav.no"

OPPGAVE_API_BASE_URL="https://aap-oppgave.intern.dev.nav.no"
OPPGAVE_API_SCOPE="api://dev-gcp.aap.oppgave/.default"

DOKUMENTMOTTAK_API_BASE_URL="https://aap-postmottak-backend.intern.dev.nav.no"
DOKUMENTMOTTAK_API_SCOPE="api://dev-gcp.aap.postmottak-backend/.default"

STATISTIKK_API_BASE_URL="https://aap-statistikk.intern.dev.nav.no"
STATISTIKK_API_SCOPE="api://dev-gcp.aap.statistikk/.default"

GOSYS_URL="https://gosys-q2.dev.intern.nav.no/gosys"
MODIA_PERSONOVERSIKT_URL="https://navikt.github.io/modiapersonoversikt/#"
