# Template for hvilke miljøvariabler som skal brukes. Kopier feltene under til en ".env.local" fil.

LANG='nb_NO.UTF-8'
LC_ALL='nb_NO.UTF-8'
TZ="Europe/Oslo"

NEXT_PUBLIC_ENVIRONMENT="dev"

BEHANDLING_API_BASE_URL="https://aap-behandlingsflyt.intern.dev.nav.no"
BEHANDLING_API_SCOPE="api://dev-gcp.aap.behandlingsflyt/.default"
SAKSBEHANDLING_PDFGEN_URL="https://aap-saksbehandling-pdfgen.intern.dev.nav.no"

POSTMOTTAK_API_BASE_URL="https://aap-postmottak-backend.intern.dev.nav.no"
POSTMOTTAK_API_SCOPE="api://dev-gcp.aap.postmottak-backend/.default"

DOKUMENTINNHENTING_API_BASE_URL="https://aap-dokumentinnhenting.intern.dev.nav.no"
DOKUMENTINNHENTING_API_SCOPE="api://dev-gcp.aap.dokumentinnhenting/.default"

GOSYS_URL="https://gosys-q2.dev.intern.nav.no/gosys"
MODIA_PERSONOVERSIKT_URL="https://navikt.github.io/modiapersonoversikt/#"

TILGANG_API_BASE_URL="https://aap-tilgang.intern.dev.nav.no"
TILGANG_API_SCOPE="api://dev-gcp.aap.tilgang/.default"

OPPGAVE_API_BASE_URL="https://aap-oppgave.intern.dev.nav.no"
OPPGAVE_API_SCOPE="api://dev-gcp.aap.oppgave/.default"

A_INNTEKT_URL="https://arbeid-og-inntekt-q2.dev.adeo.no"

ENDRINGSLOGG_BASE_URL="https://endringslogg.intern.dev.nav.no"

NEXT_PUBLIC_ARENA_VISNINGSKLIENT_BASE_URL="https://arenavisningsklient.ansatt.dev.nav.no/"

API_INTERN_BASE_URL="http://api-intern"
API_INTERN_SCOPE="api://dev-gcp.aap.api-intern/.default"

# Texas
NAIS_TOKEN_ENDPOINT="http://localhost:4001/api/v1/token"
NAIS_TOKEN_EXCHANGE_ENDPOINT="http://localhost:4001/api/v1/token/exchange"
NAIS_TOKEN_INTROSPECTION_ENDPOINT="http://localhost:4001/api/v1/introspect"
