.vilkårsKortNAY {
  border-left: 0.5rem solid var(--a-surface-alt-3);
}

.vilkårsKortNAV {
  border-left: 0.5rem solid var(--a-surface-alt-1-moderate);
}

.vilkårsKort {
    background-color: var(--a-surface-default);
    border-radius: var(--a-border-radius-large);
    border: 1px solid var(--a-border-divider);
}

:is(.vilkårsKortNAV, .vilkårsKortNAY):last-of-type {
  margin-bottom: var(--a-spacing-18);
}
