.vilkårsKortNAY {
  --ac-expansioncard-border-radius: var(--a-border-radius-large);
  --ac-expansioncard-border-hover-color: none;

  background-color: var(--a-surface-default);
  border: 1px solid var(--a-border-divider);
  border-radius: var(--a-border-radius-large);
  border-left: 0.5rem solid var(--a-surface-alt-3);
}

.vilkårsKortNAV {
  --ac-expansioncard-border-radius: var(--a-border-radius-large);
  --ac-expansioncard-border-hover-color: none;

  background-color: var(--a-surface-default);
  border: 1px solid var(--a-border-divider);
  border-radius: var(--a-border-radius-large);
  border-left: 0.5rem solid var(--a-surface-alt-1-moderate);
}

.vilkårsKort {
  --ac-expansioncard-border-hover-color: none;
  background-color: var(--a-surface-default);
  border-radius: var(--a-border-radius-large);
  border: 1px solid var(--a-border-divider);
}
