.vilkårsKortNAY {
  background-color: var(--ax-bg-default);
  border: 1px solid var(--ax-border-neutral-subtle);
  border-radius: var(--ax-radius-8);
  border-left: 0.5rem solid var(--ax-bg-brand-blue-strong);
}

.vilkårsKortNAV {
  background-color: var(--ax-bg-default);
  border: 1px solid var(--ax-border-neutral-subtle);
  border-radius: var(--ax-radius-8);
  border-left: 0.5rem solid var(--ax-bg-meta-purple-strong);
}

.vilkårsKort {
  background-color: var(--ax-bg-default);
  border-radius: var(--ax-radius-8);
  border: 1px solid var(--ax-border-neutral-subtle);
}
