.list {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.listItem {
  padding-inline: var(--a-spacing-4);
  padding-block: var(--a-spacing-2);
}

.listItem:hover {
  background: var(--a-surface-hover);
  border-left: 2px solid #000;
  padding-left: calc(var(--a-spacing-4) - 2px);
}

.iistItem:first-child:hover {
  border-radius: 10px;
}
