.main {
  padding: var(--a-spacing-5);
  padding-inline: 1rem;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-5);
}
.yrkesskadeMock {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-5);
}
