.brevbygger {
  background-color: var(--a-surface-action-subtle);
  padding: 2rem;
}

.brev {
  background-color: var(--a-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  padding-inline: calc(2rem + 5px); /* FIXME vurder å trekke ut som variabler? */
}
