.pdf {
  padding: var(--a-spacing-2);
  min-height: 100%;
  min-width: 100%;
}

.pdfBox {
  position: relative;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: hsl(136 0 62 / 0.2);
}
