.valgtBrevmal {
  position: relative;
}

.valgtBrevmal::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -0.5rem;
  pointer-events: none;
  z-index: 2;
  box-shadow: -0.5rem 0 0 var(--ax-bg-brand-blue-strong);
}

.wrapper {
  position: relative;
  min-height: 90vh;
  max-height: 29.7cm; /* a4 */
  overflow: auto;

  box-shadow: var(--ax-shadow-dialog);
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;

  min-height: 90vh;
}

.container {
  background: #fff;
  padding: 1rem;
}

.changed {
  animation: highlight 2s ease-out;
}

@keyframes highlight {
  0% {
    background-color: #fffb8f;
  }
  100% {
    background-color: transparent;
  }
}
