.container {
  border: 1px solid var(--a-border-subtle);
  border-radius: var(--a-border-radius-large);
  padding: var(--a-spacing-4);
}

.behandlingstype {
  border-bottom: 1px solid var(--a-border-on-inverted);
  margin-bottom: var(--a-spacing-4);
}
.reservert {
  background-color: var(--a-red-100);
}
.venter {
  background-color: var(--a-orange-100);
}
