.godkjent {
  background-color: var(--a-green-50);
}

.avslått {
  background-color: var(--a-orange-50);
}

.godkjentIcon {
  color: var(--a-icon-success);
}

.avslåttIcon {
  color: var(--a-icon-warning);
}

.rad {
  height: 40px;
}

.opplysning {
  margin-bottom: var(--a-spacing-4);
}
