.godkjent {
  background-color: var(--ax-success-100);
}

.avslått {
  background-color: var(--ax-warning-100);
}

.godkjentIcon {
  color: var(--ax-text-success-decoration);
}

.avslåttIcon {
  color: var(--ax-text-warning-decoration);
}

.rad {
  height: 40px;
}

.opplysning {
  margin-bottom: var(--ax-space-16);
}
