.oppholdGruppe {
  margin-bottom: var(--ax-space-12);
}

.vurderingRad:not(:last-child) {
  margin-bottom: var(--ax-space-16);
}

.detailgray {
  color: var(--ax-text-neutral-subtle);
}

.oppholdHeader {
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
  border-radius: var(--ax-radius-12) var(--ax-radius-12) 0 0;
}
