.inntektfelt {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
}

.inntektwrapper {
  display: flex;
  flex-direction: row;
  gap: var(--a-spacing-2);
  align-items: flex-end;
}
