:root {
  --nav-min-width: 15rem;
}

.sak__container {
  width: 100%;
  min-width: 48rem;
  padding: 1rem;
}

.value {
  font-weight: 900;
  margin: 0 0.25rem;
}
.key {
  font-weight: 400;
  margin: 0 0.25rem;
}

.rad {
  display: flex;
  flex-direction: row;
}

.sak {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.sak__behandling {
  grid-row: 2;
  background: var(--container-background-color);
  padding: 1rem;
  flex: 1;
}

.sak__behandling.tall {
  grid-row: 1 / 3;
  animation-name: flash-border;
  animation-delay: 50ms;
  animation-duration: 400ms;
}

@keyframes flash-border {
  0% {
    border: 2px solid var(--container-border-color);
  }
  50% {
    border: 2px solid hsl(87, 100%, 70%);
  }
  100% {
    border: 2px solid var(--container-border-color);
  }
}

.sentrer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid__box {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 10rem auto;
  grid-gap: 1rem;
}
