.tabell {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--a-border-divider);
  border-radius: var(--a-border-radius-large);
}

.ingenreserverteoppgaver {
  padding: var(--a-spacing-2);
}
