.tabell {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--ax-border-neutral-subtle);
  border-radius: var(--ax-radius-8);
}

.ingenreserverteoppgaver {
  padding: var(--ax-space-8);
}
