.inntektListe {
  margin: 0;
  list-style: none;
}

.inntektListeElement {
  width: fit-content;
  padding: var(--ax-space-8);
  border-bottom: 2px solid var(--ax-border-neutral-subtle);
}

.sideDivider {
  padding-left: var(--ax-space-16);
  border-left: 2px solid var(--ax-border-neutral-subtle);
}
