.inntektListe {
  margin: 0;
  list-style: none;
}

.inntektListeElement {
  width: fit-content;
  padding: var(--a-spacing-2);
  border-bottom: 2px solid var(--a-border-divider);
}

.sideDivider {
  padding-left: var(--a-spacing-4);
  border-left: 2px solid var(--a-border-divider);
}
