.form {
  display: grid;
  border: 1px solid gray;
  box-shadow: var(--a-shadow-large);
  grid-template-columns: 1fr 1fr;
  gap: var(--a-spacing-4);
  padding: var(--a-spacing-4);
  margin-top: var(--a-spacing-4);
  width: fit-content;
}

.barn {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--a-spacing-4);
}
