.form {
  display: grid;
  border: 1px solid gray;
  box-shadow: var(--a-shadow-large);
  grid-template-columns: 1fr 1fr;
  gap: var(--a-spacing-4);
  padding: var(--a-spacing-4);
  margin-top: var(--a-spacing-4);
  width: 100%;
}

.formTest {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  box-shadow: var(--a-shadow-large);
  gap: var(--a-spacing-4);
  padding: var(--a-spacing-4);
  margin-top: var(--a-spacing-4);
  width: 100%;
}

.barn {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--a-spacing-4);
}

.fnr {
  width: 15ch;
}