.beslutterform {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--a-gray-400);
  border-radius: var(--a-border-radius-large);
}

.heading {
  padding: 1rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 2px solid var(--a-gray-400);
}

.headingBeslutter {
  background-color: var(--a-blue-50);
  border-top-left-radius: var(--a-border-radius-large);
  border-top-right-radius: var(--a-border-radius-large);
}

.headingKvalitetssikrer {
  background-color: var(--a-surface-alt-1-subtle);
}

.felter {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
