.toolbar {
  display: flex;
  gap: 0.25rem;
  background-color: var(--a-bg-subtle);
  padding: 0.25rem;
  border: 2px solid var(--a-border-strong);
  border-bottom: transparent;
}

.toolbarbutton {
  padding: 0.5rem;
  font-family: Monospaced, serif;
  border: none;
}

.active {
  background: var(--a-surface-neutral-subtle-hover);
}

.icon {
  font-size: 1.5rem;
}
