.toolbar {
  display: flex;
  gap: 0.25rem;
  background-color: #e9e9ed;
  padding: 0.25rem;
  border: 2px solid #000;
  border-bottom: transparent;
}

.toolbarbutton {
  padding: 0.5rem;
  font-family: Monospaced, serif;
  border: none;
}

.isActive {
  background: #a2a2a4;
}
