:root {
  --page-width: clamp(50rem, 60vw, 80rem);
  --spacing-3xs: 0.125rem;
  --spacing-2xs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-s: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 2.5rem;
  --spacing-2xl: 4rem;
  --spacing-3xl: 6.5rem;
  --spacing-4xl: 0.5rem;
  --container-background-color: var(--a-bg-default);
  --container-border-color: var(--a-border-default);
}

.saksliste__innhold {
  width: clamp(50rem, 60vw, 80rem);
}

.saksliste__tabell {
  background-color: var(--a-bg-default);
  border: 1px solid var(--a-border-default);
}

.banner > h1 {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  max-width: 72rem;
  align-items: center;
}

.main__content {
  display: grid;
  place-items: center;
}
