.fixed {
  table-layout: fixed;
}

.styledTabell th {
  font-size: var(--ax-font-size-small);
  color: var(--ax-text-neutral-subtle);
  font-weight: var(--ax-font-weight-regular);
  padding: var(--ax-space-4) var(--ax-space-8);
}

.styledTabell svg {
  font-size: 1rem;
}
