.toTrinnsKontroll {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  border: 1px solid var(--a-border-divider);
  border-radius: var(--a-border-radius-large);
  padding: 1rem;
  background-color: var(--a-surface-default);
}
