.toTrinnsKontroll {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  border: 1px solid var(--a-gray-400);
  box-shadow: var(--a-shadow-xsmall);
  padding: 1rem;
}
