.vilkårsKortNAY {
  --ac-expansioncard-border-radius: var(--a-border-radius-large);
  --ac-expansioncard-border-hover-color: none;

  border: 1px solid var(--a-border-divider);
  border-left: 0.5rem solid var(--a-surface-alt-3);
}

.vilkårsKortNAV {
  --ac-expansioncard-border-radius: var(--a-border-radius-large);
  --ac-expansioncard-border-hover-color: none;

  border: 1px solid var(--a-border-divider);
  border-left: 0.5rem solid var(--a-surface-alt-2);
}

:is(.vilkårsKortNAV, .vilkårsKortNAY):last-of-type {
  margin-bottom: var(--a-spacing-18);
}

.header,
.content,
.header:hover,
.content:hover {
  border: none;
  /* Nødvendig for å unngå merkelig radius i header ved hover */
  border-top-left-radius: 0;
  box-shadow: none;
}

.title {
  display: flex;
  align-items: flex-end;
  gap: var(--a-spacing-2);
}
