.vilkårsKortNAY {
  --ac-expansioncard-bg: var(--a-blue-50);
  --ac-expansioncard-header-bg: var(--a-blue-200);
  --ac-expansioncard-header-open-bg: var(--a-blue-200);
  --ac-expansioncard-header-bg-hover: var(--a-blue-300);
  --ac-expansioncard-border-radius: var(--a-border-radius-small);
  --ac-expansioncard-border-hover-color: none;
  box-shadow: var(--a-shadow-xsmall);
}

.vilkårsKortNAV {
  --ac-expansioncard-bg: var(--a-green-50);
  --ac-expansioncard-header-bg: var(--a-green-100);
  --ac-expansioncard-header-open-bg: var(--a-green-100);
  --ac-expansioncard-header-bg-hover: var(--a-green-200);
  --ac-expansioncard-border-radius: var(--a-border-radius-small);
  --ac-expansioncard-border-hover-color: none;
  box-shadow: var(--a-shadow-xsmall);
}

.vilkårsKortUvisstEnhet {
  --ac-expansioncard-bg: var(--a-orange-50);
  --ac-expansioncard-header-bg: var(--a-orange-100);
  --ac-expansioncard-header-open-bg: var(--a-orange-100);
  --ac-expansioncard-header-bg-hover: var(--a-orange-200);
  --ac-expansioncard-border-radius: var(--a-border-radius-small);
  --ac-expansioncard-border-hover-color: none;
  box-shadow: var(--a-shadow-xsmall);
}

:is(.vilkårsKortNAV, .vilkårsKortNAY):last-of-type {
  margin-bottom: var(--a-spacing-18);
}

.header,
.content,
.header:hover,
.content:hover {
  border: none;
  box-shadow: none;
}

.title {
  display: flex;
  align-items: flex-end;
  gap: var(--a-spacing-2);
}
