.kolonner {
  height: 100vh;
  border-top: 1px solid gray;
}

.kolonne {
  height: 100%;
  padding: 1rem;
}

.venstrekolonne {
  border-right: 1px solid gray;
}

.høyrekolonne {
  border-left: 1px solid gray;
}
