.saksoversikt {
  padding: var(--a-spacing-5);
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-5);

  max-width: var(--a-breakpoint-2xl-down);
  margin: 0 auto;
}

.behandlingstabell {
  border-collapse: collapse;
}

.th {
  text-align: left;
}

.row th {
  border-bottom: 2px solid var(--a-border-strong);
}
.row td {
  border-bottom: 1px solid var(--a-border-default);
}
