.stretch {
  display: flex;
  justify-content: space-between;
}

.tabContent {
  background: var(--a-gray-50);
  flex: 1 1 100%;
  padding: var(--a-spacing-4);
  margin: calc(var(--a-spacing-4) * -1);
}

.fillHeight:last-child {
  flex: 1 1 100%;
}

.fillHeight:not(:last-child) {
  margin-bottom: var(--a-spacing-4);
}
