.stretch {
  display: flex;
  justify-content: space-between;
}

.tabContent {
  flex: 1 1 100%;
  padding: var(--a-spacing-4);
  margin: calc(var(--a-spacing-4) * -1);
}

.saksbehandlingsoversikt {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  border: 1px solid var(--a-border-divider);
  padding: var(--a-spacing-4);
  border-radius: var(--a-border-radius-large);
  background-color: var(--a-surface-default);
}

.fillHeight:last-child {
  flex: 1 1 100%;
}

.fillHeight:not(:last-child) {
  margin-bottom: var(--a-spacing-4);
}
