.tabs {
  padding-top: var(--ax-space-16);
  padding-inline: var(--ax-space-16);
}

.tabContent {
  flex: 1 1 100%;
  padding: var(--ax-space-16);
  padding-top: var(--ax-space-20);
}

.saksbehandlingsoversikt {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--ax-border-neutral-subtle);
  border-radius: var(--ax-radius-12);
  background-color: var(--ax-bg-default);
}

.fillHeight:last-child {
  flex: 1 1 100%;
}

.fillHeight:not(:last-child) {
  margin-bottom: var(--ax-space-16);
}

.minimert {
  max-width: 4rem;
  flex-direction: column;
  align-self: end;
}

.utvidetWrapper {
  border-right: 1px solid var(--ax-border-neutral-subtle);
  padding: var(--ax-space-8);
}

.skjultWrapper,
.header {
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
}

.skjultWrapper > button {
  padding-inline: var(--ax-space-8);
}

.minimertKnapp {
  padding-inline: var(--ax-space-8);
}
