.stretch {
  display: flex;
  justify-content: space-between;
}

.tabContent {
  flex: 1 1 100%;
  padding: var(--ax-space-16);
  padding-top: var(--ax-space-20);
  margin: calc(var(--ax-space-16) * -1);
}

.saksbehandlingsoversikt {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-16);
  border: 1px solid var(--ax-border-neutral-subtle);
  padding: var(--ax-space-16);
  border-radius: var(--ax-radius-8);
  background-color: var(--ax-bg-default);
}

.fillHeight:last-child {
  flex: 1 1 100%;
}

.fillHeight:not(:last-child) {
  margin-bottom: var(--ax-space-16);
}
