.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.oppfyltIcon {
  color: var(--a-surface-success);
}

.avslåttIcon {
  color: var(--a-surface-danger);
}

.delvisOppfylt {
  color: var(--a-surface-warning);
}

.vilkårsitem {
  display: flex;
  align-items: center;
}
