.vurdering {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  border-left: 1px solid var(--a-border-subtle);
  padding: var(--a-spacing-2) var(--a-spacing-4);
}

.infobox {
  --a-shadow-small: none;
  --a-shadow-medium: none;
  box-shadow: none !important;
  background-color: var(--a-surface-info-subtle);
  overflow: hidden;
}

.header,
.header:hover {
  background-color: var(--a-surface-info-subtle);
  box-shadow: none;
}

.expansioncardcontent {
  background-color: var(--a-surface-info-subtle);
  box-shadow: none;
  border: 1px solid var(--a-border-subtle);
}

.content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--a-surface-info-subtle);
  box-shadow: none;
}
