.vurdering {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  border-left: 1px solid var(--a-border-subtle);
  padding: var(--a-spacing-2) var(--a-spacing-4);
}

.header,
.content,
.header:hover,
.content:hover {
  font-size: large;
  box-shadow: none;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
