.pdfContainer {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  flex-direction: row;

  margin-left: var(--a-spacing-4);
  background-color: var(--a-bg-subtle);
}

.pdfPreview {
  padding: var(--a-spacing-4);
}

.pdfPage {
  box-shadow: 0 5px 5px var(--a-border-strong);
  margin-block: var(--a-spacing-2);
}
