.tabell {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--ax-border-neutral-subtle);
  border-radius: var(--ax-radius-8);
}

.ingenoppgaver {
  padding: var(--ax-space-8);
}

.velgenhet {
  width: 420px;
}
