@import '@navikt/ds-css' layer(aksel);
@import '@navikt/aap-breveditor-css';
@import 'styles/globals.css';


.endringslogg {
    margin-right: 0 !important;
    margin-top: 0.2rem;
}

.endringslogg-knapp > svg {
  height: 1em;
  width: 1em;
}
