@import '@navikt/ds-css' layer(aksel);
@import '@navikt/aap-breveditor-css';
@import 'styles/globals.css';

div .endringslogg {
  margin-right: 0;
  margin-top: 0.2rem;
}

.endringslogg-knapp > svg {
  height: 1em;
  width: 1em;
}

div .endringslogg-content {
  background: var(--a-bg-default);
  color: var(--a-text-default);
}
