:root {
    --page-width: clamp(50rem, 60vw, 80rem);
    --spacing-3xs: 0.125rem;
    --spacing-2xs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-s: 0.75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2.5rem;
    --spacing-2xl: 4rem;
    --spacing-3xl: 6.5rem;
    --spacing-4xl: 0.5rem;
    --container-background-color: var(--a-bg-default);
    --container-border-color: var(--a-border-default);
}

.box {
    border: 2px solid var(--container-border-color);
    border-radius: 5px;
}

.margin-m-top {
    margin-top: var(--spacing-m);
}

.margin-m-bottom {
    margin-bottom: var(--spacing-m);
}

