.underArbeid {
  position: fixed;
  z-index: 1000;
  right: -70px;
  top: 30px;
  width: 300px;
  text-align: center;
  padding: 0.75rem;
  transform: rotate(45deg);
  background-color: var(--a-surface-warning-subtle);
  overflow: hidden;
}
