.sideProsessKort {
  border: 1px solid var(--ax-border-neutral-subtle);
}

.header,
.content {
  border: none;
  box-shadow: none;
}

.title {
  display: flex;
  align-items: flex-end;
  gap: var(--ax-space-8);
}
