.sideProsessKort {
  --ac-expansioncard-border-radius: var(--a-border-radius-large);
  --ac-expansioncard-border-hover-color: none;

  /* Denne har gitt oss problemer i dev da import-rekkefølge har endret seg etter bundling.
   * Disse props-ene settes nå i Sideprosesskort.css på id for å gi høy nok spesifisitet */
  /* border: 1px solid var(--a-border-divider); */
  /* border-left: 0.5rem solid var(--a-surface-warning-subtle); */
}

.header,
.content {
  border: none;
  box-shadow: none;
}

.title {
  display: flex;
  align-items: flex-end;
  gap: var(--a-spacing-2);
}
