.heading {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}

.aktivitetsplikthendelser {
  padding: var(--a-spacing-4);
}

.begrunnelse {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feilregistrering {
  text-decoration: line-through;
}
