.oppsummering {
  display: grid;
  flex-direction: column;
  gap: var(--ax-space-12);
}

.beslutteroppsummering {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-12);
  border: 2px solid black;
  padding: 1rem;
}

.begrunnelse {
  white-space: pre-wrap;
}
