.oppsummering {
  display: grid;
  flex-direction: column;
  gap: var(--a-spacing-3);
}

.beslutteroppsummering {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
  border: 2px solid black;
  padding: 1rem;
}

.begrunnelse {
  white-space: pre-wrap;
}
