.fastsettArbeidsEvneForm {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--a-gray-100);
}

.fastsettArbeidsEvneFormFelter {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}

.prosenttimer {
  display: flex;
  align-items: flex-end;
  gap: var(--a-spacing-4);
}

.knapper {
  display: flex;
  gap: var(--a-spacing-4);
}
