.oppfyltIcon {
  color: var(--ax-bg-success-strong);
}

.avslåttIcon {
  color: var(--ax-bg-danger-strong);
}

.utfall {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}
