.fastsettArbeidsevne {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}

.tabell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--a-spacing-4);
}
