.rad {
  display: flex;
  flex-direction: row;
  gap: var(--a-spacing-4);
}

.vurdering {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  border-left: 1px solid var(--a-border-subtle);
  padding: var(--a-spacing-2) var(--a-spacing-4);
}

.timekolonne {
  padding-top: var(--a-spacing-2);
}
