.barn {
  --ac-expansioncard-bg: var(--a-white);
  --ac-expansioncard-header-bg: var(--a-white);
  --ac-expansioncard-header-open-bg: var(--a-white);
  --ac-expansioncard-header-bg-hover: var(--a-white);
  --ac-expansioncard-border-radius: var(--a-border-radius-large);
  --ac-expansioncard-border-hover-color: none;
  box-shadow: var(--a-shadow-xsmall);
}

.barn:hover {
  --ac-expansioncard-border-hover-color: var(--a-border-strong);
  --ac-expansioncard-header-bg-hover: var(--a-surface-hover);
}

.barnekort {
  background-color: var(--a-bg-default);
  border: 1px solid var(--a-border-subtle);
  padding: var(--a-spacing-4);
  border-radius: var(--a-border-radius-large);
}

.manueltbarnheading {
  display: flex;
  flex-direction: row;
  gap: var(--a-spacing-4);
}

.vurdering {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  border-bottom: 1px solid var(--a-border-subtle);
  padding: var(--a-spacing-4);
}
