.header {
  display: flex;
  justify-content: space-between;
}

.rad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--a-spacing-4);
}

.nyttFilter {
  margin-top: var(--a-spacing-8);
}

.nyttFilter::before {
  content: ' +';
}

.knapperad {
  display: flex;
  gap: var(--a-spacing-4);
}

.knapperad > button {
  margin-top: var(--a-spacing-4);
}

.køknapper {
  display: flex;
  justify-content: flex-end;
  gap: var(--a-spacing-4);
}

.avdelingsleder_mock {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
