.rad {
  display: flex;
  flex-direction: row;
  gap: var(--ax-space-16);
  margin-top: var(--ax-space-16);
}

.behandlerValgGruppe {
  margin-bottom: 0;
}

.behandlerValgGruppe :global(.aksel-radio-buttons) {
  border: 1px solid var(--ax-border-neutral);
  border-radius: var(--ax-radius-8);
}

.behandlerValgÅpen :global(.aksel-radio-buttons) {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.annenBehandlerSøk {
  border: 1px solid var(--ax-border-neutral);
  border-top: none;
  border-bottom-left-radius: var(--ax-radius-8);
  border-bottom-right-radius: var(--ax-radius-8);
  padding: var(--ax-space-12) var(--ax-space-16);
}

.behandlerValgGruppe :global(.aksel-radio) {
  width: 100%;
  padding: var(--ax-space-12) var(--ax-space-16);
  border-bottom: 1px solid var(--ax-border-neutral);
}

.behandlerValgGruppe :global(.aksel-radio):last-child {
  border-bottom: none;
}

.behandlerValgDetaljer {
  color: var(--ax-text-neutral-subtle);
}

.fastlegeRadioInnhold {
  display: flex;
  justify-content: space-between;
  gap: var(--ax-space-16);
  width: 100%;
}

.fastlegeEtikett {
  color: var(--ax-text-neutral-subtle);
  white-space: nowrap;
}

.behandlerNavn {
  display: flex;
  align-items: center;
  gap: var(--ax-space-2);;
}
