.kelvinAppHeaderMenuItems,
.kelvinAppHeaderSearchResult,
.kelvinAppHeaderSearchResult label,
.kelvinAppHeaderSearchResult .navds-heading {
  color: var(--a-white);
  --ac-link-text: var(--a-white);
  --ac-link-action-text: var(--a-white);
}

.kelvinAppHeaderSearchResult {
  border-top: 1px solid var(--a-gray-50);
  padding-bottom: var(--a-spacing-3);
}

.kelvinOppgavesokForm {
  padding-top: var(--a-spacing-2);
  background-color: var(--a-surface-inverted);
}
