.saksinfobanner {
  background-color: #f8f9fa;
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.saksinfo {
  padding-left: var(--ax-space-24);
  padding-top: var(--ax-space-12);
  padding-bottom: var(--ax-space-12);
}

.copybutton {
  padding-left: var(--ax-space-4);
  color: var(--ax-text-neutral-subtle);
}

.chevron {
  color: var(--ax-border-neutral-strong);
}

.saksmeny {
  padding: var(--ax-space-8) var(--ax-space-12) var(--ax-space-8) var(--ax-space-12);
  border-left: 1px solid var(--ax-border-neutral-subtle);
}

.saksmenyDropdown {
  width: 30ch;
}

.oppgavestatus {
  padding: var(--ax-space-12) var(--ax-space-12) var(--ax-space-8) var(--ax-space-12);
}

.maksdatoTag {
  border: none;
  border-radius: var(--ax-radius-4);
  background-color: var(--ax-bg-brand-blue-soft);
}
