.ikon {
  /* TODO: Bytte ut med et faktisk ikon etterhvert */
  border: 1px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.høyrekolonne {
  border-left: 1px solid var(--a-border-default);
  height: 100vh;
  padding: 1rem;
}
