.knapp {
  background-color: var(--ax-bg-meta-purple-moderate);
  color: black;
}

.tag {
  justify-content: left;
  height: var(--ax-space-40);
  background-color: var(--ax-bg-meta-purple-moderate);
  padding-top: 0.5rem;
}

.knapp:hover {
  background-color: var(--ax-bg-meta-purple-moderate-hover);
}

.boks > * {
  padding-left: var(--ax-space-12);
  padding-right: var(--ax-space-12);
  padding-bottom: 0.5rem;
  min-width: 200px;
  max-width: 200px;
}
