.saksliste__innhold {
    width: var(--page-width);
}

.saksliste__tabell {
    background-color: var(--container-background-color);
    border: 1px solid var(--container-border-color);
}


.banner > h1 {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    max-width: 72rem;
    align-items: center;
}

.vedtaksflate {
    display: flex;
    flex-direction: row;
}

.gradert {
    border: 2px solid var(--a-border-danger);
}

.gradert td {
    background-color: var(--a-surface-danger);
}

.toggleGroup {
    margin: 2rem 0 2.5rem;
    width: fit-content;
}

.feilmelding {
    margin-top: 1rem;
    width: var(--page-width);
}

.loader {
    margin-block: var(--spacing-m);
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    grid-row-gap: 1rem;
}

.warning {
    opacity: 0;
    animation: fadeIn 300ms ease-in forwards;
    box-shadow: var(--a-shadow-xlarge);
}

@keyframes fadeIn {
    0% { opacity: 0;}
    80% { transform: scale(1.1);}
    100% { opacity: 1; transform: scale(1);}
}

.main__content {
    display: grid;
    place-items: center;
}