.editor {
  min-width: 50vw;
}

.centerLoader {
  display: flex;
  justify-content: center;
}

.editorContent {
  border: 2px solid;
  border-color: var(--a-blue-800);
  padding-block: 0.5rem;
}

.editorContent > .ProseMirror-focused {
  outline: none;
}

.editorContent:focus-within {
  box-shadow: var(--a-shadow-focus);
}

.disabledEditor {
  padding-inline: 5px;
}

.editor :global(.tiptap) {
  /* tilsvarer et a4-ark */
  max-width: 210mm;
  padding-inline: 2rem;
}

.table {
  border: 1px solid #000;
}

.table td {
  border: 1px dotted #000;
}
