.editor {
  min-width: 50vw;
}

.centerLoader {
  display: flex;
  justify-content: center;
}

.editorContent {
  border-right: 5px solid;
  border-left: 5px solid;
  border-color: var(--a-blue-800);
  padding-block: 0.5rem;

  /*background-color: var(--a-surface-active);*/
}

.disabledEditor {
  padding-inline: 5px;
}

.editor :global(.tiptap) {
  background-color: var(--a-surface-default);
  /* tilsvarer et a4-ark */
  max-width: 210mm;
  /*min-height: 297mm;*/

  padding-inline: 2rem;
  /*padding-block: 2rem;*/
  /*margin-inline: auto;*/
  /*margin-block: 1rem;*/

  /*box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.8);*/
}

.table {
  border: 1px solid #000;
}

.table td {
  border: 1px dotted #000;
}
