.editor {
  margin: 1rem;
  min-height: 10rem;
  min-width: 50vw;
}

.editorContent {
  border: 2px solid #000;
  background-color: var(--a-surface-active);
}

.editor :global(.tiptap) {
  background-color: var(--a-surface-default);
  /* tilsvarer et a4-ark */
  max-width: 210mm;
  min-height: 297mm;

  padding-inline: 2rem;
  padding-block: 2rem;
  margin-inline: auto;
  margin-block: 1rem;

  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.8);
}
