.filtrering {
  display: flex;
  padding: var(--a-spacing-4);
  flex-direction: column;
  border: 1px solid var(--a-border-divider);
  border-radius: var(--a-border-radius-large);
}

.filtreringTop {
}
