.wrapper {
  display: flex;
  flex-direction: column;
}

.filtreringTop {
  padding: var(--a-spacing-3);
  border-bottom: 1px solid var(--a-border-divider);
}

.filtreringwrapper {
  background-color: var(--a-bg-subtle);
  border-bottom: 1px solid var(--a-border-divider);
}

.filtrering {
  padding: var(--a-spacing-3);
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}
