.wrapper {
  display: flex;
  flex-direction: column;
}

.filtreringTop {
  padding: var(--ax-space-12);
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
}

.filtreringwrapper {
  background-color: var(--ax-bg-neutral-soft);
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
}

.filtrering {
  padding: var(--ax-space-12);
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-16);
}

.divider {
  border-left: 1px solid var(--ax-border-neutral-subtle);
  margin: -12px 0;
}
