.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--a-border-divider);
  border-top-left-radius: var(--a-border-radius-large);
  border-top-right-radius: var(--a-border-radius-large);
}

.filtreringTop {
  padding: var(--a-spacing-3);
  border-bottom: 1px solid var(--a-border-divider);
}

.filtreringwrapper {
  background-color: var(--a-bg-subtle);
}

.filtrering {
  padding: var(--a-spacing-3);
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}
