.statusrad {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--a-spacing-8);
}

.statusfelt {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}

.statusikon {
  font-size: var(--a-font-size-heading-medium);
}

.green {
  color: var(--a-icon-success);
}

.red {
  color: var(--a-icon-danger);
}

.linkCell {
  text-align: end;
}
