.vilkårsKort {
  --ac-expansioncard-border-radius: var(--a-border-radius-small);
  --ac-expansioncard-border-hover-color: none;
  box-shadow: var(--a-shadow-xsmall);
}

.gul {
  --ac-expansioncard-bg: var(--a-orange-50);
  --ac-expansioncard-header-bg: var(--a-orange-100);
  --ac-expansioncard-header-open-bg: var(--a-orange-100);
  --ac-expansioncard-header-bg-hover: var(--a-orange-200);
}

.blå {
  --ac-expansioncard-bg: var(--a-blue-50);
  --ac-expansioncard-header-bg: var(--a-blue-200);
  --ac-expansioncard-header-open-bg: var(--a-blue-200);
  --ac-expansioncard-header-bg-hover: var(--a-blue-300);
}

.header,
.content,
.header:hover,
.content:hover {
  border: none;
  box-shadow: none;
}

.title {
  display: flex;
  align-items: flex-end;
  gap: var(--a-spacing-2);
}
.content form {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}
