.vilkårsKort {
  --ac-expansioncard-border-radius: var(--a-border-radius-large);
  --ac-expansioncard-border-hover-color: none;
}

.blå {
  --ac-expansioncard-border-radius: var(--a-border-radius-large);
  --ac-expansioncard-border-hover-color: none;

  border: 1px solid var(--a-border-divider);
  border-left: 0.5rem solid var(--a-surface-alt-3);
}

.gul {
  --ac-expansioncard-border-radius: var(--a-border-radius-large);
  --ac-expansioncard-border-hover-color: none;

  border: 1px solid var(--a-border-divider);
  border-left: 0.5rem solid var(--a-surface-warning-subtle);
}

.header,
.content,
.header:hover,
.content:hover {
  border: none;
  box-shadow: none;
}

.title {
  display: flex;
  align-items: flex-end;
  gap: var(--a-spacing-2);
}
.content form {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}
