.toTrinnsKontroll {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}

.historikkTopp {
  border-top: 2px solid var(--a-gray-300);
  border-bottom: 2px solid var(--a-gray-300);
  padding: var(--a-spacing-4);
}

.historikkImidten {
  border-bottom: 2px solid var(--a-gray-300);
  padding: var(--a-spacing-4);
}
