.panelV3 {
    display: grid;
    grid-template-columns: 200px 1fr;
    max-width: 1680px;
    border-radius: 0.5rem;
    padding: 1rem;
}

.sidebarItemV3 {
    box-shadow: none;
    border-radius: 4px;
    cursor: pointer;
    --ac-chip-toggle-text: var(--a-surface-action);
    --ac-chip-toggle-bg: var(--a-transparent);
}

.vurderingDetailV3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fieldsV3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: var(--a-spacing-4);
    border-left: 2px solid var(--a-border-divider);
}

.footerV3 {
    margin-top: auto;
}

.tidligereVurderingerV3 {
    --ac-expansioncard-bg: var(--a-surface-default);
    --ac-expansioncard-header-bg: var(--a-surface-transparent);
    --ac-expansioncard-header-bg-hover: var(--a-surface-hover);
    --ac-expansioncard-header-open-bg: var(--a-surface-transparent);
    --ac-expansioncard-border-color: var(--a-border-default);
    --ac-expansioncard-border-open-color: var(--a-border-default);
    --ac-expansioncard-border-radius: var(--a-border-radius-large);
    --ac-expansioncard-button-border-radius: var(--a-border-radius-medium);
    --ac-expansioncard-border-hover-color: var(--a-border-strong);
    margin-bottom: var(--a-spacing-4);
    background: #E6F0FF80;
}

.cardHeadingV3 {
    display: flex;
    flex-direction: row;
    gap: var(--a-spacing-2);
    align-items: flex-end;
}

.cardHeadingV3 > svg {
    font-size: var(--a-font-size-xlarge);
}