.panel {
  display: grid;
  grid-template-columns: 200px 1fr;
  max-width: 1680px;
  border-radius: 0.5rem;
}

.sidebarItem {
  box-shadow: none;
  border-radius: 4px;
  cursor: pointer;
}

.sidebarItemSingle {
  box-shadow: none;
  border-radius: 4px;
  cursor: default;
}

.vurderingDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: var(--ax-space-16);
  border-left: 2px solid var(--ax-border-neutral-subtle);
}

.footer {
  margin-top: var(--ax-space-24);
}

.tidligereVurderinger {
  margin-bottom: var(--ax-space-16);
  background: #e6f0ff80;
}

.cardHeading {
  display: flex;
  flex-direction: row;
  gap: var(--ax-space-8);
  align-items: flex-end;
}

.cardHeading > svg {
  font-size: var(--ax-font-size-xlarge);
}
