.erutfylt {
  background-color: var(--ax-bg-accent-soft);
}

.ikkeeksisterendefelt {
  background-color: var(--ax-bg-neutral-soft);
  opacity: 0.4;
}

.border {
  border-right: 1px solid var(--ax-border-neutral-subtle);
}

.dag {
  padding: var(--ax-space-16);
}
