.steg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--a-spacing-1);
  padding: var(--a-spacing-2);
}

.aktivtSteg,
.erFullført:hover {
  border-bottom: 5px solid var(--a-surface-action);
}

.steg a {
  text-decoration: none;
}

.nummerAktiv,
.nummer {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nummerAktiv {
  border: 1px solid var(--a-surface-action);
  background-color: var(--a-surface-action);
  color: var(--a-bg-default);
}

.nummer {
  border: 1px solid var(--a-border-default);
  color: var(--a-text-subtle);
}
