.steg {
  color: var(--a-surface-action);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--a-spacing-1);
  padding: var(--a-spacing-2);
}

.aktivtSteg,
.steg:hover {
  border-bottom: 5px solid var(--a-surface-action);
}

.erFullført {
  color: var(--a-icon-success);
}

.steg a {
  text-decoration: none;
}
