/* Hjelper mot at elementer bruker full bredde når man bruker grid/flex, men kun bredden som den trenger */
.fit-content {
  width: fit-content;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--a-spacing-4);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}

.begrunnelse {
  max-width: 90ch;
}

.prosent_input > input {
  max-width: 6ch;
}

.inntekt_input {
  max-width: 20ch;
}

.ident_input {
  max-width: 14ch;
}

.radio {
  max-width: 90ch;
}
