/* Må overstyre fokus i editor siden det ikke er mulig å styre dette via props */
.ProseMirror-focused {
  outline: none;
}

/* Hjelper mot at knappene fra Aksel bruker full bredde når man bruker grid/flex */
.fit-content-button {
  width: fit-content;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: var(--a-spacing-4);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
}
