.dokumentInfoBanner {
  background-color: var(--a-bg-subtle);
  padding-block: var(--a-spacing-3);
  padding-inline-start: var(--a-spacing-6);
  padding-inline-end: var(--a-spacing-4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--a-border-strong);
}

.left {
  display: flex;
  gap: var(--a-spacing-8);
}
