.knapp {
  background-color: var(--ax-bg-meta-purple-soft);
  color: black;
}

.tag {
  border-top-left-radius: var(--ax-radius-8);
  border-top-right-radius: var(--ax-radius-8);
  justify-content: left;
  height: var(--ax-space-40);
  background-color: var(--ax-bg-meta-purple-soft);
  padding-top: 0.5rem;
}

.knapp:hover {
  background-color: var(--ax-bg-meta-purple-soft);
}

.knapp:focus-visible {
  background-color: var(--ax-bg-meta-purple-soft);
}

.boks > * {
  padding-left: var(--ax-space-12);
  padding-right: var(--ax-space-12);
  padding-bottom: 0.5rem;
  min-width: 400px;
  max-width: 600px;
}

.litenBoks > * {
  padding-left: var(--ax-space-12);
  padding-right: var(--ax-space-12);
  padding-bottom: 0.5rem;
  min-width: 200px;
  max-width: 300px;
}
