.knapp {
  background-color: var(--a-surface-alt-1-subtle);
  color: black;
}

.tag {
  border-top-left-radius: var(--a-border-radius-large);
  border-top-right-radius: var(--a-border-radius-large);
  justify-content: left;
  height: var(--a-spacing-10);
  background-color: var(--a-surface-alt-1-subtle);
  padding-top: 0.5rem;
}

.knapp:hover {
  background-color: var(--a-surface-alt-1-subtle);
}

.knapp:focus-visible {
  background-color: var(--a-surface-alt-1-subtle);
  --a-shadow-focus: 0 0 0 3px var(--a-surface-alt-1-subtle);
}

.boks > * {
  padding-left: var(--a-spacing-3);
  padding-right: var(--a-spacing-3);
  padding-bottom: 0.5rem;
  min-width: 400px;
  max-width: 600px;
}
