button.knapp {
  background-color: var(--a-surface-alt-1-subtle);
  color: black;
}

button.knapp span {
  font-weight: var(--a-font-weight-regular);
}

button.knapp:hover {
  background-color: var(--a-surface-alt-1);
  color: white;
}

span.tag {
  border-top-left-radius: var(--a-border-radius-large);
  border-top-right-radius: var(--a-border-radius-large);
  justify-content: left;
  height: var(--a-spacing-10);
  background-color: var(--a-surface-alt-1-subtle);
}
