.knapp {
  cursor: pointer;
  background-color: var(--ax-bg-meta-purple-moderate);
  color: black;
}

.knapp.knapp:hover {
  background-color: var(--ax-bg-meta-purple-moderate-hover);
}

.tag {
  border-top-left-radius: var(--ax-radius-8);
  border-top-right-radius: var(--ax-radius-8);
  justify-content: left;
  height: var(--ax-space-40);
}
