.barn {
    --ac-expansioncard-bg: var(--a-white);
    --ac-expansioncard-header-bg: var(--a-white);
    --ac-expansioncard-header-open-bg: var(--a-white);
    --ac-expansioncard-header-bg-hover: var(--a-white);
    --ac-expansioncard-border-radius: var(--a-border-radius-large);
    --ac-expansioncard-border-hover-color: none;
    box-shadow: var(--a-shadow-xsmall);
}

.barn:hover {
    --ac-expansioncard-border-hover-color: var(--a-border-strong);
    --ac-expansioncard-header-bg-hover: var(--a-surface-hover);
}



