.combosearch {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
  max-width: 90ch;
}

.labelwrapper {
  display: flex;
  flex-direction: row;
  gap: var(--a-spacing-2);
  align-items: center;
}
