.combosearch {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
  min-width: 40ch;
  max-width: 60ch;
  flex: 1 1 auto;
}

.labelwrapper {
  display: flex;
  flex-direction: row;
  gap: var(--a-spacing-2);
  align-items: center;
}
