.beskrivelse {
  max-width: 350px;
}

.overskrevetRad {
  background-color: var(--ax-neutral-100A);
  color: var(--ax-text-neutral-subtle);
}

.overskrevetCelle {
  text-decoration: line-through;
}

.ny {
  background-color: var(--ax-success-100);
}

.valgtRad {
  background-color: var(--ax-bg-accent-soft);
}

.skjemaContainer {
  padding-left: 16px;
  border-left: 1px solid var(--ax-space-16);
}

.skjemaContainer:last-of-type {
  margin-bottom: 16px;
}
