.detail {
  color: var(--ax-text-neutral-subtle);
}

.link {
  font-size: var(--ax-font-size-small);
  color: var(--ax-text-neutral);
}

.linkName {
  font-size: var(--ax-font-size-small);
  color: var(--ax-text-neutral);
}

.info {
  color: var(--ax-text-neutral);
}
